#first {
  img {
    position: absolute;
    top: 60px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    margin: auto;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 130px);
    width: auto;
    height: auto; 
  }
}
